<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Top News</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    </head>
    <body>
        <h2>Top stories</h2>

        <ul>
            <li th:each="story : ${news}">
                <h3 th:text="${story.heading}">title</h3><br/>
                <img th:src="${story.image}"/><br/>
                <h4 th:text="${story.lead}">lead</h4><br/>
                <a th:href="@{/news/{id}(id=${story.id})}" th:text="${story.heading}">story</a>
            </li>
        </ul>

        <div>
            Enter information and submit:<br/>
            <form th:action="@{/news}" method="POST" enctype="multipart/form-data">
                Heading: <input type="text" name="heading" id="heading"/><br/>
                Lead: <input type="text" name="lead" id="lead"/><br/>
                Story: <input type="text" name="story" id ="story"/><br/>
                Image: <input type="file" name="file" id="file"/><br/>
                <input type="submit" value="Add a news story"/>            
            </form>
        </div>
    </body>
</html>
