<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Top News</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

        <style>
            ul {
                list-style-type: none   
            }
        </style>
    </head>
    <body>
        <h1>All news stories:</h1>
        <a href="/news">Frontpage</a>

        <ul>
            <li th:each="story : ${news}">
                <h2><a th:href="@{/news/{id}(id=${story.id})}" th:text="${story.heading}">title</a></h2>
                <span th:text="${story.localTime}">releaseTime</span>
            </li>
        </ul><br/>

    </body>
</html>
