<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${newsStory.heading}">heading</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

        <style>
            ul {
                list-style-type: none   
            }
        </style>
    </head>
    <body>
        <a href="/news">Frontpage</a>
        <a href="/news/all">All news</a>
        <h3 th:text="${newsStory.heading}">heading</h3><br/>
        <span th:text="${newsStory.lead}">lead</span><br/>
        <span th:text="${newsStory.text}">story</span><br/>

        <br/><h4>Edit the story by inputting new values below:</h4>
        <form th:action="@{/news/{id}/edit(id=${storyId})}" method="POST" enctype="multipart/form-data">
            Heading: <input type="text" name="heading" id="heading"/><br/>
            Lead: <input type="text" name="lead" id="lead"/><br/>
            Story: <input type="text" name="story" id ="story"/><br/>
            Authors: <input type="text" name="authors" id="authors"/><br/>
            Categories: <input type="text" name="categories" id="categories"/><br/>
            Image: <input type="file" name="file" id="file"/><br/>
            <input type="submit" value="Edit the news story"/>            
        </form>
    </body>
</html>
