<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Top News</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

        <style>
            ul {
                list-style-type: none   
            }
        </style>
    </head>
    <body>
        <h1>Top stories:</h1>

        <ul>
            <li th:each="story : ${news}">
                <h2 th:text="${story.heading}">title</h2>
                <h3 th:text="${story.lead}">lead</h3>
                <img th:src="@{/news/{id}/content(id=${story.kuvaId})}"/><br/>
                <a th:href="@{/news/{id}(id=${story.id})}" th:text="${story.heading}">story</a>
            </li>
        </ul>

        <!--        <ul>
                    <li th:each="imageId : ${imageIds}">
                        <img th:src="@{/news/{id}/content(id=${imageId})}"/><br/>
                    </li>
                </ul>-->
        <div>
            <h3>Add a news story</h3>
            Enter information and submit:<br/>
            <form th:action="@{/news}" method="POST" enctype="multipart/form-data">
                Heading: <input type="text" name="heading" id="heading"/><br/>
                Lead: <input type="text" name="lead" id="lead"/><br/>
                Story: <input type="text" name="story" id ="story"/><br/>
                Authors: <input type="text" name="authors" id="authors"/><br/>
                Image: <input type="file" name="file" id="file"/><br/>
                <input type="submit" value="Add a news story"/>            
            </form>
        </div>
    </body>
</html>
