<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${newsStory.heading}">heading</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

        <style>
            ul {
                list-style-type: none   
            }
        </style>
    </head>
    <body>
        <h1 th:text="${newsStory.heading}">heading</h1><br/>
        <img th:src="@{/news/{id}/content(id=${imageId})}"/><br/>
        <p th:text="${newsStory.localTime}">release time</p>
        <h3 th:text="${newsStory.lead}">lead</h3>
        <span th:text="${newsStory.text}">story</span><br/>

        <a href="/news">Frontpage</a>
    </body>
</html>